
<div class="rectangle" style="align-content: center;" style="background-image: url(https://picsum.photos/seed/picsum/1400/600);">
  <div class="team-section">
      <h1><u>Our Team</u></h1>


    
    <div style="font-weight: bold;">Poonam Pise</div>
    <div>Web Designer<br>ID : 200240520066<br>Mail ID : poonam.p@notesapp.com <br> Contact : 9789365209</div>
  
    <br>
    <br>
    <div style="font-weight: bold;">Pravin Dongare</div>
    <div>Web Designer<br>ID : 200240520075<br>Mail ID : pravin.d@notesapp.com <br> Contact : 9923993036</div>

      <div class="section" id="p2">
          <span class="name">Poonam Pise</span>
          
          <h3>Web Designer<br>ID : 200240520066<br>Mail ID : poonam.p@notesapp.com <br> Contact : 9789365209</h3>
      </div>

      <div class="section" id="p3">
          <span class="name">Pravin Dongare</span>
          
          <h3>Web Designer<br>ID : 200240520075<br>Mail ID : pravin.d@notesapp.com <br> Contact : 9923993036</h3>
          
      </div>

      <span class="border"></span>
      Asia's Most Popular Notes App.<br>
      "Teamwork begins by building trust. And the only way to do that is to overcome our need for invulnerability." – Patrick Lencioni
  </div>
  </div>