<div class="" style=" background-image: url(https://cdn.pixabay.com/photo/2017/07/02/21/34/notebook-2465914_960_720.jpg);height:100vh; ">
  
  <h3 style="color:black;  justify-content:center; text-align:center;color:grey;font-size:30px">“It’s none of their business that you have to learn how to write. Let them think you were born that way.” </h3>

 <div style="background-color: greenyellow;"></div>
  
  <div class="row" style="margin-top: 70px;">
    <ng-container *ngFor="let item of list">
      <div class="col-6" >
        
        <h5>{{ item.title }}</h5>
        <div>
              <!-- im the boss -->
        </div>
        <!-- <button
          class="btn btn-outline-secondary"
          (click)="showDetailsModal(item)"
        >
          Show Details
        </button> -->
      </div>
    </ng-container>
  </div>
</div>
